#day1, #day2, #day3, #day4, #day5{
  border: none;
  text-align: center;
}

.navbar-brand{
  font-size: xx-large;
}

@media (min-width: 50em) {
  #navbarCollapse{
    width:80%;
  }

  .navbar-brand{
    width: 10%;
  }

  td{
    font-size: x-large;
  }
}

#dark_label{
  margin-left: 22%;
  color: white;
}

body {
  /*padding-top: 3rem;
  padding-bottom: 3rem;*/
  color: #5a5a5a;
  height: 100%;
}

header{
  height: 10%;
}

main{
  height: 90%;
}

td img{
  width:40%;
  filter: drop-shadow(0 0 5px black);
}

td{
  vertical-align: middle;
}

@media (max-width: 50em) {
  td img{
    width: 50%;
  }
}

#myPopup{
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  left: 59%;
  bottom: 1%;
  margin-left: -80px;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#signUpLink{
  float: left;
  width: 67%;
}

#favourites_link {
  visibility: hidden;
}

#logout_link {
  visibility: hidden;
}

#user_label {
  margin-right: 20%;
  color: white;
  font-size: x-large;
}

@media (max-width: 49em) {
  #user_label {
    margin-bottom: 5%;
  }
}

#add_fav_link{
  font-size: large;
  visibility: hidden;
}
