.time{
  font-size: 1.50rem;
}

.temp{
  font-size: 1.50rem;
}

#myPopup{
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  left: 59%;
  bottom: 1%;
  margin-left: -80px;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#signUpLink{
  float: left;
  width: 67%;
}

#favourites_link {
  visibility: hidden;
}

#user_label {
  margin-right: 20%;
  color: white;
  font-size: x-large;
}

@media (max-width: 49em) {
  #user_label {
    margin-bottom: 5%;
  }
}
